<h1>Thêm mới sản phẩm</h1>

<%= msg.join('<br>') %>



<form action="" method="post">
    Name: <input type="text" name="name" /> <br>
    Price: <input type="text" name="price" /> <br>
    ID cat: <input type="text" name="id_cat" /> <br>
    <button type="submit">Save</button>
</form>


